node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads (keep folders via .gitkeep)
uploads/thumbnails/*
uploads/pdfs/*
!uploads/thumbnails/.gitkeep
!uploads/pdfs/.gitkeep
.vercel
